# Tableau URL
NEXT_PUBLIC_TABLEAU_URL=
NEXT_PUBLIC_TABLEAU_SDK_SOURCE=
NEXT_PUBLIC_TABLEAU_AUTH_CREDENTIAL=
NEXT_PUBLIC_TABLEAU_ORG_URL=

SLACK_WEBHOOK_URL=

# Salesforce Connected App Credentials
SF_LOGIN_URL=
SF_CLIENT_ID=
SF_CLIENT_SECRET=
SF_REDIRECT_URI=
SESSION_PASSWORD=